/* general */

* { outline: 0px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	@media print { color: #000 !important; border-color: #000 !important;
		&:before,
		&:after { color: #000 !important; border-color: #000 !important; }
	}
}

html, body { font-family: $sans; font-size: $standard-text-size; line-height: $standard-line-height; color: $text; letter-spacing: -0.1px; background: #fff; }
html { height: 100%; }

.navbar { padding: 10px 26px; @include transition(all 0.177s ease); @include box-shadow-fix(0px 1px 2px rgba(0,0,0,0.1));
	&.nav-bg { @include transition(all 0.177s ease); background: $primary; }
	.navbar-brand {
		svg.white, svg.white g { fill: #fff; } 
		svg.red, svg.red g { fill: $primary; } 
	}
	&.bg-nav { padding: 26px; @include box-shadow-fix(0px 0px 0px rgba(0,0,0,0.0));
		.navbar-collapse {
		    .navbar-nav {
		        .nav-item {
		            .nav-link { color: $border; @include transition(all ease .2s);
		                &:hover, &:focus { color: $primary; }
						&.btn { border-radius: 0; }
		            }
		        }
		    }
		}
	}
	.navbar-collapse {
	    .navbar-nav {
	        .nav-item { margin-right: 30px;
	            &:last-child { margin-right: 0; }
	            .nav-link { color: $secondary; @include transition(all ease .2s);
	                &:hover, &:focus { color: $primary; }
					&.btn { color: #fff; border-radius: 0; 
						&:hover, &:focus { 
							color: $primary;
						}
					}
	            }
	            &.logged-user {
	            	.nav-link { padding: 0; color: $secondary; 
	            		&:hover, &:focus { color: $primary; }
	            		img { margin-left: 10px; }
	            	}
	            }
	        }
	        &.search-form { 
	        	 form { @include box-shadow-fix(0px 1px 2px rgba(0,0,0,0.1)); border: 1px solid $gray; margin-left: 20px; 
	        	 	@include media-breakpoint-up(lg) { max-width: 600px; }
	        	 	@include media-breakpoint-down(sm) { margin-left: 0px; }
			        .form-fit-helper { float: left; position: relative; margin-bottom: 0;
			            label { position: absolute; height: 50px; vertical-align: middle; display: inline-block; left: 0; right: 0; line-height: 50px; padding: 0 15px;
							&:before { font-family: 'meetmotor-icons'; float: left; display: block; color: $gray; }
							&[for="where"]:before { content: '\e908'; }
							&[for="time"]:before { content: '\e901'; }
							&[for="count"]:before { content: '\e906'; }
						}
			            input { height: 50px; border: 0; border-radius: 0; background: #fff; padding: 0 35px; 
			            	@include inputPlaceholder() { color: $secondary; }
			            }
			            &:nth-child(1) { width: 50%; border-right: 1px solid $gray; }
			            &:nth-child(2) { width: 25%; border-right: 1px solid $gray; }
			            &:nth-child(3) { width: 25%; }
			            @include media-breakpoint-down(sm) {
			                &:nth-child(1) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
			                &:nth-child(2) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
			                &:nth-child(3) { width: 100%; border-bottom: 1px solid $gray; }
			            }
			        }
			    }
	        }
	    }
	    &.show { @include transition(all 0.177s ease); 
			.navbar-nav { opacity: 1; 
	            .nav-link { 
	                &:hover, &:focus { color: $secondary; }
	            }
			}
		}
	    @include media-breakpoint-down(sm) {
	    	.navbar-nav { opacity: 0; }
	    }
	}
    .navbar-toggler { position: relative; height: 30px; 
	    .navbar-toggler-icon {
			display: inline-block; position: absolute; background: #fff; margin: 0 auto; width: 20px; height: 2px; top: 50%; left: 0; right: 0; @include transition(all 0.5s ease); transform: translateY(-1px);
			&:before, &:after {
				content: ""; position: absolute; margin: 0 auto; background: #fff; width: 20px; height: 2px; left: 0; right: 0; @include transition(all 0.166s ease);
			}
			&:before { bottom: 6px; }
			&:after { top: 6px; }
	    }
	    &:hover {
			.navbar-toggler-icon:before { bottom: 8px; }
			.navbar-toggler-icon:after { top: 8px; }
		}
	}
}

#content {
	&.center-content { height: 100%; padding: 0;
		.center-container { display: table; margin: 0 auto; height: 100%;
			.center-wrapper { display: table-cell; vertical-align: middle; }
		}
	}
}

::selection		 { background: $secondary; color: $gray; text-shadow: none; }
::-moz-selection { background: $secondary; color: $gray; text-shadow: none; }
