a { color: $primary; 
	&:focus, &:hover { color: lighten($primary, 5%); }
}

.h1, h1, .h2, h2, .h3, h3,
.h4, h4, .h5, h5, .h6, h6 { display: block; vertical-align: middle; letter-spacing: -.9px;
	&:first-child { margin-top: 15px; }
	&.thin { font-family: $sans; }
    &.white { color:#fff; }
}

.h1, h1 { font-family: $league-gothic; font-size:46px; line-height: 56px; color: $secondary; padding-bottom: 0px; margin: 30px 0px; text-transform: uppercase; }
.h2, h2 { font-family: $league-gothic; font-size:40px; line-height: 48px; color: $secondary; padding-bottom: 0px; margin: 30px 0px; text-transform: uppercase; }
.h3, h3 { font-family: $sans; font-size:34px; line-height: 40px; color: $secondary; padding-bottom: 0px; margin: 30px 0px; }
.h4, h4 { font-family: $sans; font-size:28px; line-height: 34px; color: $secondary; padding-bottom: 0px; margin: 20px 0px; }
.h5, h5 { font-family: $sans; font-size:22px; line-height: 28px; color: $secondary; padding-bottom: 0px; margin: 10px 0px; }
.h6, h6 { font-family: $sans; font-size:19px; line-height: 24px; color: $secondary; padding-bottom: 0px; }
