.start { @include transition(background-image .2s ease-in); background-color: $secondary; background-image: url(../images/background.jpg); background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; background-size:  cover; background-color: #999; height:100%;
    #content { padding-top: 98px; }
    .teaser-headline { font-size: 90px; line-height: 90px; color:#fff; margin-bottom: 50px; span.primary-color { color:$primary; } 
        @include media-breakpoint-down(md) { font-size: 57px; line-height: 57px; }
        @include media-breakpoint-down(sm) { font-size: 40px; line-height: 40px; }
    }
    form {
        .form-fit-helper { float: left; position: relative; margin-bottom: 0;
            label { position: absolute; height: 90px; vertical-align: middle; display: inline-block; left: 0; right: 0; line-height: 77px; padding-left: 30px; padding-right: 30px;
				&:before { content: ''; font-family: 'meetmotor-icons'; margin:0 10px 0 0; float: left; display: block; color: $gray; }
    			&[for="where"]:before { content: $mm-iconmap; margin-left: 5px; }
                &[for="time"]:before { content: $mm-iconclock; }
                &[for="art"]:before { content: $mm-iconbike; margin-left: -15px; }
                &.select-label {
                    position:relative; width: 100%;
                    &:before { position: absolute; z-index: 10; }
                    select { position: absolute; left: 0; top: 0; height: 90px !important; margin: 0; appearance:none; }
                }
			}
            input, select { height: 90px; border: 0; border-radius: 0; background: #fff; padding: 0 55px; }
            &:nth-child(1) { width: 40%; border-right: 1px solid $gray; }
            &:nth-child(2) { width: 20%; border-right: 1px solid $gray; }
            &:nth-child(3) { width: 30%; }
            &:nth-child(4) { width: 10%; }
            @include media-breakpoint-down(sm) {
                &:nth-child(1) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
                &:nth-child(2) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
                &:nth-child(3) { width: 100%; border-bottom: 1px solid $gray; }
                &:nth-child(4) { width: 100%; }
            }
        }
    }
    main { margin: 40px 0; 
        @include media-breakpoint-down(sm) { margin: 30px 0; }
    }
    footer { @include border-opacity($gray, 20%); }
}

.gmaps { min-height: 350px; }

.profil-content, .tours, .create-tour-content { 
    @media (max-height: 730px) and (max-width: 991px) { overflow-y: scroll; }
}
.create-tour-content { @media (max-height: 700px) and (min-width: 767px) { overflow-y: scroll; } }

.tours { @include media-breakpoint-up(md) { overflow-y: scroll; } 
    .tour-card { padding: 30px 45px; border-bottom: 1px solid $border; width: 100%;
        @include media-breakpoint-down(md) { padding: 25px 35px; }
        @include media-breakpoint-down(sm) { padding: 15px 25px; }
        h3 { font-family: $league-gothic; text-transform: uppercase; font-size: 36px; line-height: 36px; margin-top: 0; margin-bottom: 9px; padding: 0; transition: all .111s ease-in; }
    }
    a:hover { text-decoration: none; h3 { color: $primary; } }
}

ul.tour-infos { padding: 0; margin: 0; list-style: none; 
    li { display: inline-block; margin-right: 10px; 
        span { color: $text; }
        &:last-child { margin-right: 0; }
        i { color: $text; margin-right: 5px; }
    }
}

ul.search-drop { margin: 0; list-style:none; position: absolute; z-index: 100; top: 49px; left: -1px; right: -1px; padding: 0; border-top:1px solid $primary; background: #fff; @include box-shadow-fix(0px 1px 2px rgba(0,0,0,0.1)); border-left: 1px solid $gray; border-right: 1px solid $gray; border-bottom: 1px solid $gray;
    li { position: relative; padding: 10px 10px 10px 40px; transition: all .111s ease-in; 
        i { position: absolute; top: 50%; transform:translateY(-50%); left: 20px; color: $gray; transition: all .111s ease-in; }
        p, span { margin: 0; display: block; width: 100%; } 
        p { color: darken($text, 10%); }
        span { font-size: 14px; line-height: 14px; }
        &:hover, &:focus { background: $border;
            i { color: $primary; }
        }
    }
}

.ui-datepicker {
    .ui-datepicker-header { background: transparent; border: 0; border-radius: 0;
        .ui-icon { width: 20px; height: 25px; text-indent: 0 !important; background: transparent !important; text-align: center; transform:translateY(-50%); margin-top: 0; }
        .ui-datepicker-prev,
        .ui-datepicker-next {
            &.ui-state-hover, &.ui-datepicker-next-hover, &.ui-datepicker-prev-hover { border: 0 !important; background: transparent !important; }
        }
        .ui-datepicker-prev.ui-datepicker-prev-hover { left: 2px !important; top: 2px !important; }
        .ui-datepicker-next.ui-datepicker-next-hover { right: 2px !important; top: 2px !important; }
        .ui-datepicker-title span { font-size: 14px; }
    }
    .ui-datepicker-calendar {
        thead { border-bottom: 1px solid $border;
            th { font-weight: 300; padding: 0.3em .3em; }
            th.ui-datepicker-week-end { font-weight: 700; }
        }
        tbody > tr > td {
            .ui-state-default { border: 0px; background: transparent; text-align: center; 
                &.ui-state-hover { background: lighten($gray,5%); }
            }
            &.ui-datepicker-today .ui-state-default { background: lighten($gray,5%); color: $primary; }
        }
            
    }
}

.tour-detail {
    h1 { font-size: 76px; line-height: 70px; margin-top: 10px; 
        @include media-breakpoint-down(md) { font-size: 56px; line-height: 50px;  }
    }
    h3 { font-family: $league-gothic; font-size: 36px; color: $gray; text-transform: uppercase; margin-bottom: 10px; }
    .btn-holder [class*="col-"] {
        @media (max-width:1205px) and (min-width:991px) { width: 100% !important; flex: 0 0 100% !important; max-width: 100% !important; }
    }
}

.steps-timeline { @include make-row();
    .step { @include make-col-ready(); @include make-col(4);
        &:before { content: ''; text-align: center; display: block; width: 28px; height: 28px; border: 1px solid $primary; border-radius: 100px; color: $primary; font-family: $league-gothic; font-size: 15px; background: #fff; position: relative; z-index: 1000; }
        &:after { content: ''; position: absolute; width: 89%; top: 11px; left: 50px; border-width: 0 0 6px 0; border-style: dotted; border-color: $gray; border-image-source: url(../images/dots.svg); border-image-slice: 25% 20%; border-image-repeat: round; }
        @include media-breakpoint-down(sm) {
            @include make-col(12);
        }
        &:nth-child(1) { &:before { content: '1'; } }
        &:nth-child(2) { &:before { content: '2'; } }
        &:nth-child(3) { &:before { content: '3'; } &:after { display: none; @include media-breakpoint-down(sm) { display: block; } } }
        h4 { font-family: $league-gothic; font-size: 22px; text-transform: uppercase; margin-bottom: 0px; letter-spacing: 0px; }
    }
}

ul.user-list { list-style: none; padding: 0;  
    li { display: inline-block; margin-right: 10px; 
        &:last-child { margin-right: 0; }
    }
}

.profil {
    h1 { font-size: 36px; line-height: 30px; color: #fff; letter-spacing: 0; margin: 10px 0; padding: 0; }
    h2 { font-size: 22px; line-height: 22px; color: $text; font-family: $league-gothic; letter-spacing: 0; margin: 0; padding: 0; }
}

ul.profil-navigation { list-style: none; padding: 0; margin: 0 5px; border-top: 1px solid #283542; border-bottom: 1px solid #283542; 
    li { margin-bottom: 10px;
        a { color: $text; text-decoration: none; transition: all .111s ease-in;
            i { color: $text; margin-right: 10px; transition: all .111s ease-in; }
            &:hover, &:focus { color: #fff;
                i { color: #fff; }
            }
        }
        &.active { 
            a { color: #fff; 
                i { color: #fff; }
            }
        }
        &:last-child { margin-bottom: 0; }
    }
}

.mm-notification { background: $primary; font-size: 10px; text-align: center; padding: 1px 5px; color: #fff; border-radius: 100px; }

.nav-wrapper { overflow: auto; white-space: nowrap;
    @include media-breakpoint-down(sm) { margin: 30px -23px 0 -23px; padding: 0 23px; }
    &::-webkit-scrollbar { width: 0 !important; }
    .nav-tabs { margin-bottom: 30px; border: none; 
        &:after { content: ''; width: 100%; display: block; height: 1px; background: $border; position: absolute; left: 0; }
        a { color: $gray; font-weight: 700; padding: 0; margin-right: 25px; transition: all .111s ease-in; display:inline-block;
            &:hover { text-decoration: none; color: $secondary; }
            &:after { margin-top: 15px; content: ''; width: 0%; display: block; height: 2px; background: transparent; transition: all .111s ease-in; }
            &.active { color: $secondary; 
                &:after { margin-top: 15px; content: ''; width: 100%; display: block; height: 2px; background: $primary; }
            }
            &:last-child { margin-right: 0; }
        }
    }
}

.mm-card { border: 1px solid #E5E5E5; 
    h3 { font-family: $league-gothic; font-size: 38px; line-height: 38px; margin: 0 0 10px 0; }
    ul.tour-infos { 
        li { width: 100%; margin-bottom: 7px; &:last-child { margin-bottom: 0; } }
    }
}

.friend {
    .user-name { display: block; color: $secondary; font-size: 22px; font-family: $league-gothic; text-transform: uppercase; margin-top: 15px; }
}

.profil-settings {
    .has-float-label { margin-bottom: 30px;
        label { font-weight: 700; color: $secondary; font-size: 16px; margin-bottom: 10px; top: -13px; }
    }
    strong { color: $secondary; }
    h3 { font-family: $league-gothic; font-size: 36px; color: $gray; text-transform: uppercase; margin-bottom: 10px; }
}

.create-tour {
    h3 { font-family: $league-gothic; font-size: 36px; color: $gray; text-transform: uppercase; margin-bottom: 10px; } 
}

ul.add-friends { list-style: none; padding: 0; margin: 0; 
    li { margin-top: 25px;
        &:first-child { margin-top: 0; } 
        &:after { content: ''; width: calc(100% - 30px); margin: 25px auto 0; height: 1px; background: $gray; display: block; }
        .btn { margin-right: 10px;
            &:last-child { margin-right: 0; }
        } 
        @include media-breakpoint-down(md) { 
            .image-round { display: block; text-align: left; }
            span { margin: 10px 0; display: block; }
            .btn { width: 100%; margin: 0; } 
        }
        @include media-breakpoint-down(sm) { 
            .image-round { display: block; text-align: center; }
            .btn { width: 100%; margin-bottom: 10px;
                &:last-child { margin-bottom: 0; }
            } 
        }
    }
}