.start { @include transition(background-image .2s ease-in); background-color: $secondary; background-image: url(../images/background.jpg); background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; background-size:  cover; background-color: #999; height:100%; }
.start {
    .teaser-headline { font-size: 67px; line-height: 77px; color:#fff; margin-bottom: 50px; span.primary-color { color:$primary; } 
        @include media-breakpoint-down(md) { font-size: 47px; line-height: 57px; }
    }
    form {
        .form-fit-helper { float: left; position: relative; margin-bottom: 0;
            label { position: absolute; height: 90px; vertical-align: middle; display: inline-block; left: 0; right: 0; line-height: 77px; padding-left: 30px; padding-right: 30px;
				&:before { font-family: 'meetmotor-icons'; margin:0 10px 0 0; float: left; display: block; color: $gray; }
				&[for="where"]:before { content: '\e908'; margin-left: 5px; }
				&[for="time"]:before { content: '\e901'; }
				&[for="count"]:before { content: '\e906'; }
			}
            input { height: 90px; border: 0; border-radius: 0; background: #fff; padding: 0 55px; }
            &:nth-child(1) { width: 40%; border-right: 1px solid $gray; }
            &:nth-child(2) { width: 20%; border-right: 1px solid $gray; }
            &:nth-child(3) { width: 30%; }
            &:nth-child(4) { width: 10%; }
            @include media-breakpoint-down(sm) {
                &:nth-child(1) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
                &:nth-child(2) { width: 100%; border-right: 0; border-bottom: 1px solid $gray; }
                &:nth-child(3) { width: 100%; border-bottom: 1px solid $gray; }
                &:nth-child(4) { width: 100%; }
            }
        }
    }
    #content { padding-top: 98px; }
}

.page {
    #content { padding-top: 72px; }
}