@font-face {
	font-family: 'league-gothic';
	src:  url('../fonts/league-gothic/leaguegothic-regular-webfont.eot?9tgxtb');
	src:  url('../fonts/league-gothic/leaguegothic-regular-webfont.eot?9tgxtb#iefix') format('embedded-opentype'),
	url('../fonts/league-gothic/leaguegothic-regular-webfont.ttf?9tgxtb') format('truetype'),
	url('../fonts/league-gothic/leaguegothic-regular-webfont.woff?9tgxtb') format('woff'),
	url('../fonts/league-gothic/leaguegothic-regular-webfont.svg?9tgxtb#meetmotor-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

$league-gothic:					   'league-gothic', sans-serif;
$sans:                             'PT Sans', sans-serif;

$primary:                          #E01F1F;
$secondary:                        #172029;
$gray:                             #D9DBDE;
$text:                             #787B82;
$border:                           #F0F2F3;
$default:						   #F4F6F8;
$modal-gray:					   #EEF0F3;
$facebook:						   #3B67B8; 
$google:						   #1B81FF;

/* standard sizes */

$standard-text-size:	           16px;
$standard-line-height:	           24px;
