$sans:                             'PT Sans', sans-serif;
$oswald:                           'Oswald', sans-serif;

$primary:                          #E01F1F;
$secondary:                        #172029;
$gray:                             #D9DBDE;
$text:                             #787B82;
$border:                           #F0F2F3;

/* standard sizes */

$standard-text-size:	           16px;
$standard-line-height:	           24px;
