/* project paths */

$font-path:				"../fonts";
$image-path:			"../images";

/* boostrap paths */

$icon-font-path:		"${font-path}/vendors/glyphicons/";

/* meetmotor iconset */
$icomoon-font-path:     "${font-path}/";
